:root {
     --branding-color: #6c63ff;
    --secondary-color: rgb(248, 235, 215);
    --gray: #6B7280;
    --purple: #885Cf6;
    --dark: #374151;
    --darker: #1F2937;
    --darkest:#111827;
    --light: #EEE;
    --pink: #f10bac;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
    color: white;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

header {
    font-size: 50px;
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 40px;
    font-weight: 300;
    color:var(--gray);
    margin-bottom: 16px;
}
#task-form {
    display: flex;
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 16px;
    border-radius: 50px;
    margin-right: 50px;
    color: var(--gray);
    font-size: 20px;
}
#task-input::placeholder {
    color: var(--light);
}
#task-submit {
    color: var(--pink);
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#task-submit:hover {
    opacity: 0.8;
}
#task-submit:active {
    opacity: 0.6;
}
main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list {
    padding: 16px;
}
.task-list h2{
    font-size: 20px;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 16px;
}
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 50px;
}
#tasks .task .content .text {
    color: var(--light);
    font-size: 18px;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}
#tasks .task .actions {
    display: flex;
    margin: 0 8px;
}
.task .actions button {
    cursor: pointer;
    margin: 0 8px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .actions button:hover {
    opacity: 0.8;
}
.task .actions button:active {
    opacity: 0.6;
}
.task .actions .edit {
     background-image: linear-gradient(to right, var(--pink), var(--purple)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete {
    color: crimson;
}
